$events: #7adfa9;
$dine: #f5921e;
$burger: #f1e000;
$cocktail: #d143c8;
$darkBlue: #04378c;

$colours: (
    'events': #7adfa9,
    'dine': #f5921e,
    'burger': #f1e000,
    'cocktail': #d143c8
);

*{
    box-sizing: border-box;
}

@each $type, $colour in $colours {
  .style-#{$type}{
      background-color: $colour;
      color: $darkBlue;
      border: 1px solid $colour;
      &:hover{
          background-color: $darkBlue;
          color: $colour;
          border: 1px solid $colour;
      }
      &.active{
          background-color: $darkBlue;
          color: $colour;
          border: 1px solid $colour;
      }
  }
}
